.md-dialog-container {
    background-color: #000;
    width: 1500px !important;
    height: 250px
}

.title-main {
    color: #646869;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 30px;
}

.d-flex {
    display: flex;
}

.subtitle-card {
    margin-left: 18px;
    font-size: 16px;
    color: #524545;
    font-weight: 400;
}

.value-card {
    margin-left: 8px;
    font-size: 16px;
    color: #4c8398;
    font-weight: 700;
}