<h1 mat-dialog-title class="title-main">{{dialogObj.title}}</h1>
<div class="col-md-12 mb-3">
    <div mat-dialog-content>
        <ng-container *ngFor="let itemDialog of dialogObj.details">
            <div class="d-flex">
                <h4 class="subtitle-card">{{itemDialog.title}}
                    <b class="value-card">{{itemDialog.value}}</b>
                </h4>
            </div>
        </ng-container>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Fechar</button>
</div>