<div class="card">
    <div class="card-head">
        <span class="label-energy">
            {{ objResum.titleText }}
        </span>
        <div class="header-resume">
            <span class="resume-text">
                RESUMO
            </span>
        </div>
    </div>
    <div class="card-body-energy">
        <ng-container *ngIf="objResum.typeCard == 'energy'">
            <div class="body-subtitle">{{ objResum.subtitle1 }}</div>
            <div class="body-value">{{ objResum.value1 | MaskValue }} MWh</div>
            <div class="body-subtitle">{{ objResum.subtitle2 }}</div>
            <div class="body-value">{{ objResum.value2 | MaskValue }} MWh</div>
            <div class="card-details" (click)="callModal()">
                <span class="label-details">Mais informações +</span>
            </div>
        </ng-container>
        <ng-container *ngIf="objResum.typeCard == 'hydro'">
            <div *ngIf="objResum?.subtitle1 != 'null'" class="body-subtitle">{{ objResum.subtitle1 }}</div>
            <div *ngIf="objResum?.value1 != 'null'" class="body-value">{{ objResum.value1 | MaskValue }} mm</div>
            <div *ngIf="objResum?.subtitle2 != 'null'" class="body-subtitle">{{ objResum.subtitle2 }}</div>
            <div *ngIf="objResum?.value2 != 'null'" class="body-value">{{ objResum.value2 | MaskValue }} m</div>
            <div *ngIf="objResum?.subtitle3 != 'null'" class="body-subtitle">{{ objResum.subtitle3 }}</div>
            <div *ngIf="objResum?.value3 != 'null'" class="body-value">{{ objResum.value3 | MaskValue }} m³/s</div>
            <div class="card-details" (click)="callModal()">
                <span class="label-details">Mais informações +</span>
            </div>
        </ng-container>
    </div>
</div>