.card {
    width: 13.1rem;
    height: 12.1rem;
    background: #fafafa;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    border-radius: 5px;
}

.card-head {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(180, 180, 180, 0.36);
    padding: 0.2rem;
}

.header-resume {
    display: flex;
    justify-content: center;
    width: 3.8rem;
    height: 0.9rem;
    background: #fafafa;
    border: 1px solid #85b2f5;
    box-sizing: border-box;
    border-radius: 6px;
    justify-self: end;
}
.label-energy {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #616161;
}
.resume-text {
    font-size: 0.625rem;
    display: flex;
    align-self: center;
    color: #85b2f5;
}

.card-body-energy {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.25rem;
    height: 100%;
}

.body-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #747474;
}

.body-value {
    font-size: 0.813rem;
    color: #9D9D9D;
    text-align: center;
}

.card-details {
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 10.938rem;
    height: 1.75rem;
    background: #9cbae7; //93b2e0
    border-radius: 2px;
    justify-content: center;
    align-self: end;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card-details:hover {
    box-shadow: 2px 3px 6px #b5b5b5;
    background: #96b0d6;
}

.label-details {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
}