<ng-container *ngIf="type == 'xls'">
    <button class="btn btn-success btn-export-excel" style="margin-left: 4px"><i class="fal fa-file-spreadsheet"></i>
        Exportar
        Excel</button>
</ng-container>
<ng-container *ngIf="type == 'pdf'">
    <button class="btn btn-success btn-export-pdf" style="margin-left: 4px"><i class="fal fa-file-pdf"></i> Exportar PDF
    </button>
</ng-container>
<ng-container *ngIf="type == 'add'">
    <button class="btn btn-success btn-add" style="margin-left: 4px"><i class="far fa-file-plus"></i> Adicionar
    </button>
</ng-container>
<ng-container *ngIf="type == 'update'">
    <button class="btn btn-success btn-update" style="margin-left: 4px"><i class="fal fa-edit"></i> Alterar
    </button>
</ng-container>
<ng-container *ngIf="type == 'search'">
    <button class="btn btn-success btn-search" style="margin-left: 4px"><i class="fal fa-search"></i> Pesquisar
    </button>
</ng-container>
<ng-container *ngIf="type == 'back'">
    <button class="btn btn-success btn-back" style="margin-left: 4px"><i class="fal fa-arrow-circle-left"></i> Voltar
    </button>
</ng-container>