.btn-export-excel {
    width: 9.2rem;
    height: 2.9rem;
    background-color: #ffffff;
    color: #239a55;
    border-color: #239a55;
    transition: all ease-in 0.3s;
}
.btn-export-excel:hover {
    background-color: #239a55;
    color: #ffffff;
    border-color: #ffffff;
}

.btn-export-excel:active {
    background-color: #239a55;
    color: #ffffff;
    border-color: #ffffff;
}

.btn-export-pdf {
    width: 9.2rem;
    height: 2.9rem;
    background-color: #ffffff;
    color: #be1919;
    border-color: #be1919;
    transition: all ease-in 0.3s;
}

.btn-export-pdf:hover {
    background-color: #be1919;
    color: #ffffff;
    border-color: #ffffff;
}

.btn-export-pdf:active {
    background-color: #be1919;
    color: #ffffff;
    border-color: #ffffff;
}

.btn-add {
    width: 9.2rem;
    height: 2.9rem;
    
    background-color: #1CAD71;
    color: #ffffff;
    border-color: #ffffff;
    
}
.btn-add:hover {
    background-color: #ffffff;
    color: #1CAD71;
    border-color: #1CAD71;
    transition: all ease-in 0.3s;
}

.btn-add:active {
    background-color: #ffffff;
    color: #1CAD71;
    border-color: #1CAD71;
}
.btn-search {
    width: 9.2rem;
    height: 2.9rem;
    
    background-color: #035aa6;
    color: #ffffff;
    border-color: #ffffff;
    
}
.btn-search:hover {
    background-color: #ffffff;
    color: #035aa6;
    border-color: #035aa6;
    transition: all ease-in 0.3s;
}

.btn-search:active {
    background-color: #ffffff;
    color: #035aa6;
    border-color: #035aa6;
}
.btn-update {
    width: 9.2rem;
    height: 2.9rem;
    background-color: #30475e;
    color: #ffffff;
    border-color: #ffffff;
}
.btn-update:hover {
    color: #30475e;
    border-color: #30475e;
    background-color: #ffffff;
}

.btn-update:active {
    background-color: #ffffff;
    color: #30475e;
    border-color: #30475e;
}
.btn-back {
    width: 9.2rem;
    height: 2.9rem;
    background-color: #698474;
    color: #ffffff;
    border-color: #ffffff;
}
.btn-back:hover {
    color: #698474;
    border-color: #698474;
    background-color: #ffffff;
}

.btn-back:active {
    background-color: #ffffff;
    color: #698474;
    border-color: #698474;
}