<div class="card card-style-main">
    <div class="row ajust-card">
        <div class="col-md-12">
            <span class="style-logo-card">
                <i *ngIf="typeIcon == 'thermometer'" class="fal fa-thermometer-half logo-style"></i>
                <i *ngIf="typeIcon == 'hydro'" class="fal fa-tint logo-style"></i>
            </span>
            <h4 class="title-card">{{titleMain}}</h4>
            <hr>
        </div>
        <div class="col-md-12 text-center">
            <h5 class="title-detail">{{titleSecondary}}</h5>
            <div class="grid-card-layout">
                <div>
                    <i class="fal fa-industry icon-card-subtitle-e2"></i>
                </div>
                <div class="card-content">
                    <p class="subtext-card">{{typeInfo}}</p>
                </div>

                <div>
                    <i class="fal fa-lightbulb-dollar icon-card-subtitle-e2"></i>
                </div>
                <div class="card-content">
                    <p class="subtext-card">{{segmentInfo}}</p>
                </div>

                <div>
                    <i class="fal fa-map-marker-check icon-card-subtitle-e2"></i>
                </div>
                <div class="card-content">
                    <p class="subtext-card">{{city}}</p>
                </div>
            </div>
            <h6 class="text-finally">Para mais detalhes clique aqui</h6>
        </div>
    </div>
</div>