.card-style-main {
    width: 25rem;
    border: 1px solid #00000025;
    box-shadow: 1px 4px 4px 1px #9e9e9e3f;
}

.style-logo-card {
    float: left;
    width: 33px;
    height: 33px;
    background-color: #0DC6E2;
    color: white;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.logo-style {
    font-size: 25px;
    position: relative;
    top: 5px;
}

.title-card {
    color: #282E52;
    text-shadow: 0px 0px #040C31;
    padding-left: 5px;
}

.title-detail {
    color: #0DC6E2;
    font-weight: bold;
    font-size: 22px;
}

.grid-card-layout {
    display: grid;
    grid-template-columns: 8% 65%;
    max-width: 100%;
    margin: 0 auto;
    grid-gap: 5px;
    justify-content: center;
}

.icon-card-subtitle-e2 {
    font-size: 1.2em;
    color: #0DC6E2;
}

.subtext-card {
    font-size: 18px;
    color: #040C31;
}

.text-finally {
    font-size: 16px;
    color: #040C31;
}

.ajust-card {
    padding-top: 1rem;
}

.card-content {
    justify-self: start;
}