<div class="text-center">
    <h2 class="title-card-management">Econometer</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <!-- ====================== Inicio Card: Fatura ====================== -->
        <div class="card-grupo-a">
            <div class="card-header-grupo-a">
                <div class="resum-header">
                    <h5>Fatura</h5>
                    <p>Fatura referente ao Ponto Ondas do Sul</p>
                </div>
                <div class="interval-dates-header">
                    <div class="date text-center">
                        <label>01/06/2020</label>
                    </div>
                    <div class="date text-center">
                        <label>10/06/2020</label>
                    </div>
                </div>
            </div>
            <div class="card-body-grupo-a d-grid">
                <div class="graph">
                    <canvas id="chartGauge" width="600" height="370"></canvas>
                </div>
                <div class="legend">
                    <div class="legend-infos">
                        <label for="">Acumulada</label>
                        <p>R$ 153.491,710</p>
                    </div>
                    <div class="legend-infos">
                        <label for="">Projetada</label>
                        <p>R$ 153.491,710</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================== Fim Card: Fatura ====================== -->
    </div>

    <div class="col-md-6">
        <!-- ====================== Inicio Card: Leitura Acumulada ====================== -->
        <div class="card-grupo-a">
            <div class="card-header-grupo-a">
                <div class="resum-header">
                    <h5>Leitura Acumulada</h5>
                    <p>A leitura acumulada representa os dados da fatura do ponto que são apresentados na tabela abaixo
                    </p>
                </div>
            </div>
            <div class="card-body-grupo-a">
                <div class="body-content">
                    <div class="content-column slice">
                        <h6><strong> 850.000 kW </strong> - Demanda Contratada Ponta</h6>
                        <h6><strong> 0,00 kW </strong> -Máxima Diário Ponta</h6>
                        <h6><strong> 0,00% </strong> - Fator de Carga Diário Ponta</h6>
                        <h6><strong> 0,000 kW </strong> - Máx. Mensal Ponta</h6>
                        <h6><strong> 0,00% </strong> - Fator de Carga Mensal Ponta</h6>
                    </div>
                    <div class="content-column">
                        <h6> <strong> 1.200,000 kW </strong> - Demanda Contratada Fora</h6>
                        <h6> <strong> 1.200,00 kW </strong> -Máxima Diário Fora</h6>
                        <h6> <strong> 48,72% </strong> - Fator de Carga Diário Fora</h6>
                        <h6> <strong> 1.200,000 kW </strong> - Máx. Mensal Fora </h6>
                        <h6> <strong> 47,50% </strong> - Fator de Carga Mensal Fora</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================== Fim Card: Leitura Acumulada ====================== -->
    </div>
</div>

<div class="row mt-4 mb-3">
    <div class="col-md-12">
        <!-- =================== Inicio Card: Leitura Acumulada - Gráfico =================== -->
        <div class="card-grupo-a">
            <div class="card-header-grupo-a">
                <div class="resum-header">
                    <h5>Leitura Acumulada - Gráfico</h5>
                    <p>O gráfico representa a leitura disponibilizada na tabela acima</p>
                </div>
                <!-- TODO: "Abas" dos gráficos de Demanda, Consumo e Reativos. Não está carregando o gráfico (Se clicar em outra aba e voltar para a do gráfico inicial, ele carrega). Diminuir tamanho dos botões. -->
                <!-- <div class="nav-items">
                    <ul class="nav nav-pills nav-fill justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" id="haha" role="tab" data-toggle="tab" href="#demand">Demanda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#teste1" role="tab" data-toggle="tab">Consumo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#teste2" role="tab" data-toggle="tab">Reativos</a>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="card-body-grupo-a">
                <!-- <div class="tab-content">
                    <div id="demand" class="tab-pane fade active in">
                        <canvas id="chartBarAndLine" width="1100" height="175"></canvas>
                    </div>
                    <div id="teste1" class="tab-pane">
                        teste1
                    </div>
                    <div id="teste2" class="tab-pane">
                        teste2
                    </div>
                </div> -->
                <canvas id="chartBarAndLine" width="1100" height="175"></canvas>
            </div>
        </div>
        <!-- =================== Fim Card: Leitura Acumulada - Gráfico =================== -->
    </div>
</div>