<div class="row">
    <div class="col-md-12 flex-s-b mb-2">
        <h3 class="title-map">Mapa</h3>
        <mat-form-field class="example-full-width">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="search" class="search-input" placeholder="Ex. jusante">
        </mat-form-field>
    </div>
</div>
<div class="row" style="display: flex; justify-content: center;">
    <div class="col-md-11" style="box-shadow: 0px 1px 4px 2px #adadad; padding: 0; border-radius: 4px;">
        <google-map height="80vh" width="100%" [center]="center" [zoom]="zoom">
            <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
                [title]="marker.title" [options]="marker.options">
            </map-marker>
        </google-map>

    </div>
</div>