<emeter2-header-menu *ngIf="currentUser"></emeter2-header-menu>
<emeter2-sidebar *ngIf="currentUser"></emeter2-sidebar>

<div [ngClass]="{'container-fluid': currentUser, 'container-login': !currentUser, 'p-left-0': !currentUser}">
    <router-outlet></router-outlet>
</div>