.card-main {
    width: 92%;
    border: 1px solid #00000025;
    box-shadow: 1px 4px 4px 1px #9e9e9e3f;
}

.mt-05-em {
    margin-top: 0.5em;
}

.card-title-main-color {
    color: #282E52;
}

.display-grid-main-card {
    display: grid;
    grid-template-columns: 20% 22% 1fr;
    padding: 20px;
}

.card-main-circle-logo {
    width: 60px;
    height: 60px;
    background-color: #0DC6E2;
    border-radius: 50%;
    justify-self: end;
    align-self: center;
}

.card-main-logo-style {
    color: #fff;
    font-weight: bold;
    position: relative;
    top: 16px;
    left: 8px;
    font-size: 20px;
}

.justify-align-self-center {
    justify-self: center;
    align-self: center;
}

.card-main-number {
    justify-self: end;
    align-self: center;
}

.card-main-number > h1 {
    font-size: 3rem;
    color: #282E52;
}

.card-main-subtext {
    justify-self: center;
    align-self: center;
    border-bottom: 1px solid #a4a4ac6e;
}

.card-main-subtext > h6 {
    color: #A4A4AC;
}

.container-login {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.p-left-0 {
    padding-left: 0 !important;
}