h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #4f4f4f;
}

.d-none {
    display: none;
}

canvas {
    padding: 15px;
}

.card-chart-info {
    background-color: #ffffff;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    border-radius: 5px;
}

.card-header-gen {
    display: grid;
    grid-template-columns: 58% 42%;
    height: 114px;
}

.card-header-guarantee {
    height: 114px;
}

.subtitle {
    align-self: center;
    margin-left: 5rem;
}

.subtitle-content {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.subtitle-content label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #5c5c5c;
    margin: 0 auto;
}

.span-consumption,
.span-generation,
.span-guarantee,
.span-average {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    margin: 0 auto;
    color: #737373;
    text-align: center;
}

.span-consumption:after {
    content: " ";
    display: block;
    width: 155px;
    height: 6px;
    background-color: #517dee;
    border-radius: 4px;
}

.span-generation:after {
    content: " ";
    display: block;
    width: 157px;
    height: 6px;
    background-color: #6cc18e;
    border-radius: 4px;
}

.text-info h3 {
    color: #5e5e5e;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    padding: 15px 0 5px 20px;
}

.text-info p {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #5f5f5f;
    padding: 5px 0 10px 20px;
}

.card-area-chart {
    background-color: #f5f5f5;
    height: 250px;
}

.span-guarantee:after {
    content: " ";
    display: block;
    width: 130px;
    height: 6px;
    background-color: #d26666;
    border-radius: 4px;
}

.span-average:after {
    content: " ";
    display: block;
    width: 130px;
    height: 6px;
    background-color: #6cc18e;
    border-radius: 4px;
}

.subtitle-guarantee {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
}

.text-info-guarantee h3 {
    color: #5e5e5e;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding: 5px 0 0px 20px;
}

.text-info-guarantee p {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #5f5f5f;
    padding: 0px 0 0px 20px;
    margin: 0;
}

.percent {
    color: #303030;
    text-align: center;
    position: relative;
    bottom: 30%;
}

.gauge-span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #9e9e9e;
    position: sticky;
}