<div class="text-center">
    <h2 class="title-card-management">Gestão Geração</h2>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="card-chart-info">
            <div class="card-header-gen">
                <div class="text-info">
                    <h3>Consumo e Geração por dia</h3>
                    <p>Este gráfico representa o consumo e a geração do dia.
                        Cada barrinha, representa um dia,
                        separado pelas cores de identificação.</p>
                </div>
                <div class="subtitle">
                    <div class="subtitle-content">
                        <label>Total Consumo</label>
                        <span class="span-consumption">{{ dataConsumnGeneration.consumo }} kWh</span>
                    </div>
                    <div class="subtitle-content">
                        <label>Total Geração</label>
                        <span class="span-generation">{{ dataConsumnGeneration.geracao }} kWh</span>
                    </div>
                </div>
            </div>
            <div class="card-area-chart">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card-chart-info">
            <div class="card-guarantee">
                <div class="card-header-guarantee">
                    <div class="text-info-guarantee">
                        <h3>Garantia Física</h3>
                        <p>Representa a média da garantia física com base na coleta do ponto</p>
                    </div>
                    <div class="subtitle-guarantee">
                        <div class="subtitle-content">
                            <label>Garantia Física</label>
                            <span class="span-guarantee">{{ gaugeData.garantiaFisica }} MW</span>
                        </div>
                        <div class="subtitle-content">
                            <label>Média Gerada</label>
                            <span class="span-average">{{ gaugeData.mediaGerada }} kWh</span>
                        </div>
                    </div>
                </div>
                <div class="card-area-chart">
                    <canvas id="guaranteeChart"></canvas>
                    <p class="percent">
                        {{ gaugeData.mediaGerada }}
                        <span class="gauge-span">
                            MW
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>