h3 {    
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    color: #989898;
}

canvas {
    padding: 30px;
}

table {
    width: 10%;
}

thead th {    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #5c5c5c;
    border-top: none;
}

td:first-child {    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #5c5c5c;
}

td {
    text-align: center;
    vertical-align: bottom;
}

// ###############################################################
// ##################### INICIO CARD-HYDRO #####################
// ###############################################################

.hydro {
    background: #ffffff;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    border-radius: 5px;
}

.card-hydro {
    background: #ffffff;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    border-radius: 5px;
    width: 100%;
}

.card-header-hydro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 29vh;
}

.text-info h3 {
    color: #5e5e5e;    
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    padding: 15px 0 5px 20px;
    margin-bottom: 2vh;
}

.text-info p {    
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #5f5f5f;
    padding: 5px 0 10px 20px;
}

.text-center h2 {
    margin-bottom: 10px;
}

.card-body-hydro {
    background: #f5f5f5;
    height: 375px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9vw;
}

.rainfall {
    border-left: 1px solid #cfcfcf;
    height: 14vh;
    padding-left: 10px;
    margin: 0vh 4vw 0 3vw;
    text-align: center;
}

.rainfall-label {    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #5c5c5c;
    margin-left: 1vw;
}

.rainfall-value {    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-left: 1vw;
    color: #737373;
}
// ###############################################################
// ##################### INICIO CARD-WEATHER #####################
// ###############################################################
.bg-color-table {    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    background: rgba(245, 245, 245, 0.99);
}

.card-weather {
    background: #ffffff;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    width: 100%;
}

.card-header-weather {
    background: #ffffff;
    border-radius: 5px 5px 0px 0px;
    height: 23vh;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
}

.card-header-weather p {    
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #5e5e5e;
    padding: 10px;
}
.card-header-weather h3 {    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #5e5e5e;
    padding: 10px;
}

.card-body-weather {
    height: 63vh;
    padding: 0 10px 0 10px;
    background: linear-gradient(233.11deg, #3da8ca 0%, #52a3ae 90.08%);
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
}

.value-weather {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10vh;
}

.border-mid {
    border-left: 1px solid;
    border-right: 1px solid;
}

.carousel-control-prev {
    bottom: 52vh;
    color: black;
}

.carousel-control-next {
    bottom: 52vh;
    color: black;
}

#carouselControls {
    display: grid;
    align-items: center;
}
// ############# SMALL ################
@media screen and (max-width: 576px) {
    .hydro {
        margin-bottom: 6vh;
    }
    .card-header-hydro {
        display: grid;
        grid-template-columns: 1fr;
        height: 210px;
    }
    .header-table {
        margin-left: 0;
        padding-left: 10px;
    }
    .rainfall {
        border-left: 1px solid #cfcfcf;
        height: 95px;
        padding-left: 10px;
        margin: 0vh 4vw 0vh 4vw !important;
        text-align: center;
    }
    .text-info p {
        color: #5f5f5f;
        padding: 0px 15px 0px 15px;
        margin: 0;
    }

    .card-body-hydro {
        background: #f5f5f5;
        height: 245px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .card-header-weather {
        background: #ffffff;
        border-radius: 5px 5px 0px 0px;
        height: 18vh;
        box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    }

    .card-header-weather p {        
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #5e5e5e;
        padding: 0px;
    }

    .value-weather {
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 1.125em;
    }

    canvas {
        padding: 5px;
    }

    .carousel-control-prev {
        bottom: 33vh;
        color: black;
    }

    .carousel-control-next {
        bottom: 33vh;
        color: black;
    }

    .card-body-weather {
        height: 50vh;
    }
}
@media screen and (max-width: 400px) {
    .card-header-hydro {
        height: 185px;
    }
    .text-info h3 {
        color: #5e5e5e;        
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        padding: 5px 0 0px 20px;
        margin: 0;
    }
    .hydro {
        margin-bottom: 6vh;
    }
    .header-table {
        display: grid;
    }
    .rainfall {
        padding: 0;
        margin: 0 auto;
        border: none;
    }
    canvas {
        padding: 5px;
    }
    .card-body-hydro {
        background: #f5f5f5;
        height: 220px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 15px;
    }
    .value-weather {
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 3vh;
    }
}
// ############# MEDIUM ###################
@media (min-width: 768px) and (max-width: 1023px) {
    .card-header-hydro {
        display: grid;
        grid-template-columns: 1fr;
        height: 26vh;
    }
    .card-header-weather {
        height: 26vh;
    }
    .hydro {
        margin-bottom: 6vh;
    }
    .card-body-hydro {
        height: 50vh;
    }
    .card-body-weather {
        height: 50vh;
    }

    .text-info {
        align-self: flex-end;
    }
    .text-info h3 {
        padding: 5px 0 0px 20px;
        margin: 0;
    }
    .text-info p {
        padding: 5px 10px 0px 20px;
        margin: 0;
    }

    .rainfall {
        border-left: 1px solid #cfcfcf;
        padding-left: 10px;
        margin: 0vh 4vw 0 3vw;
        text-align: center;
    }

    .carousel-control-prev {
        bottom: 225px;
        color: black;
    }

    .carousel-control-next {        
        bottom: 225px;
        color: black;
    }

    #weather {
        margin: 0;
    }

    canvas {
        margin-top: 4vh;
        padding: 5px;
    }

    .value-weather {
        margin-top: 5vh;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .hydro {
        margin-bottom: 6vh;
    }

    .card-header-hydro {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 22vh;
    }

    .header-table {
        margin-left: 5vw;
    }

    .text-info h3 {
        font-size: 15px;
        line-height: 15px;
    }

    .card-body-hydro {
        height: 315px;
    }

    .card-header-weather {
        height: 19vh;
    }

    .card-body-weather {
        height: 50vh;
    }

    .carousel-control-prev {
        bottom: 225px;
        color: black;
    }
    .carousel-control-next {
        bottom: 225px;
        color: black;
    }

    .value-weather {
        margin-top: 5vh;
    }
}

// ############# TRATAMENTO PARA O IPAD  ###################
@media (width: 768px) and (height: 1024px) {
    .card-body-weather {
        height: 27vh;
    }
    .rainfall {
        height: 8vh;
    }
    .card-header-weather {
        height: 18.5vh;
    }
    .card-header-hydro {
        height: 18.5vh;
    }
    .card-body-hydro {
        height: 27vh;
    }
    .text-info h3 {
        padding: 0px 0px 0px 0px;
        margin-bottom: 0;
    }
    .text-info p {        
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #5f5f5f;
        padding: 0;
        margin: 0;
    }
    .value-weather {
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 18px;
    }
    canvas {
        padding: 5px;
        margin-top: 3vh;
    }
}
@media (width: 768px) and (max-height: 850px) {
    .card-body-weather {
        height: 37vh;
    }
    .card-header-hydro {
        height: 26vh;
    }
    .card-header-weather {
        height: 26vh;
    }
    .card-body-hydro {
        height: 37vh;
    }
    .text-info h3 {
        margin: 0;
    }
    .text-info p {
        margin: 0;
    }
    .value-weather {
        margin-top: 2vh;
    }

    .rainfall {
        height: 12vh;
    }
    canvas {
        padding: 0;
        margin-top: 3vh;
    }
}
@media (width: 1024px) and (min-height: 1140px) {
    .card-header-hydro {
        display: grid;
        grid-template-columns: 1fr;
        height: 12vh;
    }

    .rainfall {
        height: 7vh;
    }

    .card-header-weather {
        height: 12vh;
    }

    .card-body-weather {
        height: 27.5vh;
    }

    canvas {
        padding: 5px;
        margin-top: 30px;
    }

    .value-weather {
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 4vh;
    }

    .carousel-control-prev {
        bottom: 25vh;
        color: black;
    }
    .carousel-control-next {
        bottom: 25vh;
        color: black;
    }
    .text-info h3 {
        padding: 5px 0 0px 0px;
        margin: 0;
    }
    .text-info p {
        padding: 0;
    }
}
// ############# LARGE ###############
@media (min-width: 1023px) and (max-height: 1140px) {
    .card-header-hydro {
        display: grid;
        grid-template-columns: 1fr;
        height: 25vh;
    }
    
    .card-body-hydro {
        height: 43vh;
    }

    .card-body-weather {
        height: 43vh;
    }

    .rainfall {
        height: 10vh;
        margin: 0vh 4vw 4vh 3vw;
    }

    .carousel-control-prev {
        bottom: 40vh;
        color: black;
    }

    .carousel-control-next {
        bottom: 40vh;
        color: black;
    }
    
    .text-info h3 {
        padding: 5px 0 0px 20px;
        margin: 0;
    }

    .text-info p {
        padding: 5px 0 0px 20px;
        margin: 0;
    }

    .value-weather {
        margin-top: 4vh;
    }
    
    canvas {
        padding: 0.8em 0 4em 0;
    }
}

@media (max-height: 1140px) and (min-width: 1339px) {
    .text-info {
        margin-top: 2vh;
    }

    .card-body-hydro {
        height: 57vh;
    }

    .card-header-hydro {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 18vh;
    }
    .card-header-weather {
        height: 18vh;
    }

    .value-weather {
        margin-top: 8vh;
    }

    .card-body-weather {
        height: 57vh;
    }

    .carousel-control-prev {
        bottom: 50vh;
        color: black;
    }

    .carousel-control-next {
        bottom: 50vh;
        color: black;
    }
}
@media (min-width: 1440) and (max-height: 2560px) {
    .text-info {
        margin-top: 2vh;
    }

    .card-body-hydro {
        height: 57vh;
    }

    .card-header-hydro {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 18vh;
    }
    .card-header-weather {
        height: 18vh;
    }

    .value-weather {
        margin-top: 8vh;
    }

    .card-body-weather {
        height: 57vh;
    }

    .carousel-control-prev {
        bottom: 50vh;
        color: black;
    }

    .carousel-control-next {
        bottom: 50vh;
        color: black;
    }
    canvas {
        padding: 10em;
    }
}
