<div class="text-center">
    <h2 class="title-card-management">Gestão Hidrologia</h2>
</div>
<div class="row text-center d-flex justify-content-center" *ngFor="let station of objHydroManagement">
    <h3>{{station.name}}</h3>
    <div class="row text-center mb-3">
        <div class="col-md-8">
            <div class="hydro">
                <div class="card-hydro">
                    <!-- beginRegion:
                            Região responsável por montar o table no header do card de hydro -->
                    <div class="card-header-hydro">
                        <div class="text-info">
                            <h3>Nível, Vazão e Chuva</h3>
                            <p>Os gráficos são representações do minímo, médio e máximo de Nível e Vazão e Total de
                                Chuva.
                            </p>
                        </div>
                        <div class="header-table">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Mínimo</th>
                                        <th>Médio</th>
                                        <th>Máximo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nível</td>
                                        <td class="bg-color-table" *ngIf="station.stageMin != undefined">
                                            {{station.stageMin}}</td>
                                        <td class="bg-color-table" *ngIf="station.stageMin == undefined">-</td>
                                        <td class="bg-color-table" *ngIf="station.stageAvg != undefined">
                                            {{station.stageAvg}}</td>
                                        <td class="bg-color-table" *ngIf="station.stageAvg == undefined">-</td>
                                        <td class="bg-color-table" *ngIf="station.stageAvg != undefined">
                                            {{station.stageMax}}</td>
                                        <td class="bg-color-table" *ngIf="station.stageAvg == undefined">-</td>
                                    </tr>
                                    <tr>
                                        <td>Vazão</td>
                                        <td class="bg-color-table" *ngIf="station.flowMin != undefined">
                                            {{station.flowMin}}</td>
                                        <td class="bg-color-table" *ngIf="station.flowMin == undefined">-</td>
                                        <td class="bg-color-table" *ngIf="station.flowAvg != undefined">
                                            {{station.flowAvg}}</td>
                                        <td class="bg-color-table" *ngIf="station.flowAvg == undefined">-</td>
                                        <td class="bg-color-table" *ngIf="station.flowAvg != undefined">
                                            {{station.flowMax}}</td>
                                        <td class="bg-color-table" *ngIf="station.flowAvg == undefined">-</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- endRegion:
                                Final da tabela -->

                            <!-- Informação de chuva no header do card -->
                            <div class="rainfall">
                                <label class="rainfall-label">Total Chuva</label>
                                <span class="rainfall-value" *ngIf="station.rainfall != undefined">{{station.rainfall}}
                                    mm</span>
                                <span class="rainfall-value" *ngIf="station.rainfall == undefined"> 0,000 mm </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body-hydro">
                        <!-- Montagem do gráfico de vazão e nível
                                 Verificação se a estação tem nível e vazão 
                                 para montar o carousel dos gráficos nível/vazão -->
                        <ng-container
                            *ngIf="station.haveFlow =='true' && station.haveStage == 'true'; else otherContent">
                            <div id="carouselControls{{station.name}}{{station.id}}" class="carousel slide"
                                data-ride="carousel" *ngIf="station.haveFlow =='true' && station.haveStage == 'true'">
                                <div class="carousel-inner">
                                    <div class="carousel-item active w-100">
                                        <div class="w-100" *ngIf="station.haveStage == 'true'">
                                            <canvas class="d-block w-100"
                                                id="myChartStage{{station.name}}{{station.id}}"></canvas>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="w-100" *ngIf="station.haveFlow =='true'">
                                            <canvas class="d-block w-100"
                                                id="myChartFlow{{station.name}}{{station.id}}"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselControls{{station.name}}{{station.id}}"
                                    role="button" data-slide="prev">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#carouselControls{{station.name}}{{station.id}}"
                                    role="button" data-slide="next">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </ng-container>
                        <!-- Verificação se a estação tem nível ou vazão para montar do gráfico -->
                        <ng-template #otherContent>
                            <canvas *ngIf="station.haveFlow =='true' && station.haveStage == 'false'"
                                id="myChartFlow{{station.name}}{{station.id}}"></canvas>
                            <canvas *ngIf="station.haveFlow =='false' && station.haveStage == 'true'"
                                id="myChartStage{{station.name}}{{station.id}}"></canvas>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <!-- Montagem do card de Previsão do Tempo -->
        <div class="col-md-4">
            <div class="card-weather">
                <div class="card-header-weather">
                    <h3>Previsão do Tempo</h3>
                    <p id="weather">A previsão do tempo, exibe a quantidade de chuva prevista para aquele dia e
                        mostra
                        se
                        estará
                        ensolarado, nublado e etc..</p>
                </div>
                <div class="card-body-weather">
                    <div class="row">
                        <ng-container *ngFor="let weather of station.weather; let i = index">
                            <div class="col-4 col-sm-4 col-md-4 text-center p-2 value-weather"
                                [class.border-mid]="(i - 1) % 3 == 0">
                                <label>{{weather.day}}</label>
                                <i *ngIf="weather.icon == 'clear-day'" class="far fa-sun" aria-hidden="true"></i>
                                <i *ngIf="weather.icon == 'clear-night'" class="fas fa-moon" aria-hidden="true"></i>
                                <i *ngIf="weather.icon == 'rain'" class="fas fa-cloud-rain" aria-hidden="true"></i>
                                <i *ngIf="weather.icon == 'snow'" class="fas fa-snowflake" aria-hidden="true"></i>
                                <i *ngIf="weather.icon == 'sleet'" class="fas fa-cloud-meatball" aria-hidden="true"></i>
                                <i *ngIf="weather.icon == 'wind'" class="fas fa-wind" aria-hidden="true"></i>
                                <i *ngIf="weather.icon == 'fog'" class="fas fa-smog" aria-hidden="true"></i>
                                <i *ngIf="weather.icon == 'cloudy'" class="fas fa-cloud" aria-hidden="true"></i>
                                <i *ngIf="weather.icon == 'partly-cloudy-day'" class="fas fa-cloud-sun"
                                    aria-hidden="true"></i>
                                <i *ngIf="weather.icon == 'partly-cloudy-night'" class="fas fa-cloud-moon"
                                    aria-hidden="true"></i>
                                <span class="text-center">{{weather.precipIntensity *24}}<br> mm</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>