<form [formGroup]="formCollect" (ngSubmit)="sendValues(formCollect)">
    <div class="card">
        <div class="row ">
            <div class="col-md-6 col-sm-12">
                <mat-form-field class="form-main">
                    <mat-label>Início
                    </mat-label>
                    <input matInput [matDatepicker]="pickerInitial" autocomplete="off" formControlName="dateInitial"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="pickerInitial"></mat-datepicker-toggle>
                    <mat-datepicker [startAt]="dateInitial" #pickerInitial></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field class="form-main">
                    <mat-label>Fim
                    </mat-label>
                    <input matInput [matDatepicker]="pickerFinally" autocomplete="off" formControlName="dateFinally"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="pickerFinally"></mat-datepicker-toggle>
                    <mat-datepicker [startAt]="dateFinally" #pickerFinally></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-12 col-sm-12">
                <mat-form-field class="form-main">
                    <mat-label>Escolha um medidor</mat-label>
                    <mat-select name="date1" formControlName="medidorSelect"
                        (selectionChange)="setIntervals($event.value)" [errorStateMatcher]="matcher" required>
                        <mat-option *ngFor="let meter of metersCombo" [value]="meter.id">
                            {{ meter.value }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formCollect.controls['medidorSelect'].errors?.required
                        && formCollect.controls['medidorSelect'].touched">
                        O medidor é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 col-sm-12 interval-display">
                <span class="label-style interval-span">Intervalo</span>
                <div class="material-options">
                    <mat-radio-group aria-label="Selecione uma opção" formControlName="intervaloCheckbox" required
                        class="f-size-08em d-grid-1fr-3-mobile">
                        <mat-radio-button required *ngFor="let intervalo of intervalsCheckboxArray"
                            [value]="intervalo.id" [disabled]="intervalo.disabled">{{ intervalo.value }}
                        </mat-radio-button>
                        <!-- <mat-error align="end" *ngIf="!tc.checked">
                            O intervalo é <strong>obrigatório</strong>
                        </mat-error> -->
                    </mat-radio-group>

                </div>
            </div>
            <div class="col-md-12 text-center mt-3">
                <button mat-raised-button id="searchButton" color="primary" type="submit"
                    [disabled]="buttonLoading">Pesquisar
                </button>
                <button mat-raised-button id="searchButton" [disabled]="!activeBtnExcel" [ngClass]="{'p-event-none': !activeBtnExcel}"
                    class="btn btn-export-excel" type="button" (click)="exportExcel()"><i
                        class="fal fa-file-spreadsheet i-excel"></i>Baixar
                </button>
            </div>
        </div>
    </div>
</form>