button {
    transition: all .25s ease;
}

button:hover {
    box-shadow: 1px 2px 4px 1px #848484;
}

.card {
    width: 100%;
    height: 21.5rem;
    margin-bottom: 30px;
    background: #fafafa;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    border-radius: 5px;
}

.label-interval {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #417ed9;
}


:host ::ng-deep .mat-radio-outer-circle{
    height: 1rem;
    width: 1rem;
}

:host ::ng-deep .mat-radio-inner-circle{
    height: 1rem;
    width: 1rem;
}
  
:host ::ng-deep .mat-radio-button .mat-radio-ripple{
    height: 20px; /*double of your required circle radius*/
    width: 20px;  /*double of your required circle radius*/
    left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    color: #417ED9;
}

:host ::ng-deep .mat-radio-label-content {
    padding: 0 0.5rem 0 0.2rem;
    margin-right: 0.3rem;
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #3b9dd4;
}

:host ::ng-deep .mat-radio-inner-circle {
    background-color: #3b9dd4 !important;
}

:host ::ng-deep .cdk-focused .cdk-mouse-focused {
    color: #3b9dd4 !important;
}

.form-main {
    padding: 0.625rem 0 0 0;
    width: 100%;
    margin-top: 0.8rem;
}

.label-style {
    color: #417ed9;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    // margin-top: 0.8rem;
}

.interval-display {
    display: grid;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
}

.interval-span {
    justify-self: center;
    padding: 1rem 0 0 0;
}

.material-options {
    justify-self: center;
    padding: 0.8rem 0 0 0;
}

.f-size-08em {
    font-size: 0.8em;
}

.i-excel {
    padding-right: 8px;
}

.p-event-none {
    pointer-events: none;
}

.btn:focus {
    box-shadow: 0;
}

.btn-export-excel {
    margin-left: 1rem;
    background-color: #ffffff;
    color: #239a55;
    border-color: #239a55;
    transition: all ease-in 0.3s;
}

.btn-export-excel:hover {
    background-color: #239a55;
    color: #ffffff;
    border-color: #ffffff;
}

.btn-export-excel:active {
    background-color: #239a55;
    color: #ffffff;
    border-color: #ffffff;
}

@media (min-width: 990px) and (max-width: 1050px) {
    .f-size-08em {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 450px) and (max-width:768px) {
    .form-main {
        padding: 0.5rem;
        margin: 0 auto;
    }
    
    .card{
        height: 24.6rem;
        font-size: 15px !important;
    }
    
    .label-style {
        margin: 0;
    }
}
@media only screen and (max-width: 450px) {
    .form-main {
        padding: 0.5rem;
        margin: 0 auto;
    }

    .card{
        height: 24.1rem;
        font-size: .9em;
    }

    .label-style {
        margin: 0;
        // margin-top: 0.3rem;
    }
    
    .material-options {
        display: flex;
        justify-content: center;
        // margin:0 0 4.1rem 2.1rem;
    }    
}

@media (max-width: 382px) {
    .card {
        height: 24.9rem;
    }

    .interval-display {
        padding-left: 15px;
        padding-right: 15px;
    }

    .interval-span {
        padding: 0;
    }

    .d-grid-1fr-3-mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.unshow-class {
    opacity: 0;
    // display: none;
    // visibility: hidden;
    height: 0;
    transition: opacity .2s linear
}

.show-class {
    opacity: 1;
    height: 0;
    // display: block;
    transition: opacity .7s linear
}

.active {
    font-size: 0;
    width: 50px;
    height: 64px;
    border-radius: 50%;
    background-color: transparent !important;
    border: 4px solid #3f51b5;
    border-left-color: transparent;
    box-shadow: 0 0 0 0;
    animation: rotate 2s linear infinite;
}

.success {
    position: relative;
    border: 3px solid #3f51b5;
    animation: bounce .3s ease-in;
}

.success:before {
    content: '';
    position: absolute;
    background: url(../../../assets/images/check.svg);
    top: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 31px;
    height: 31px;
    line-height: 31px;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

@keyframes bounce {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(0.9)
    }
}