<div class="card">
    <div class="card-head">
        <span class="label-guarantee">
            Garantia Física
        </span>
        <div class="header-resume">
            <span class="resume-text">
                RESUMO
            </span>
        </div>
    </div>
    <div class="card-body">
        <div class="body-content-guarantee">
            <span class="label-body">Garantia Física</span>
            <span class="label-value">{{ guarantee }} MW</span>
        </div>
        <div class="body-content-average mb-2">
            <span class="label-body">Média Gerada</span>
            <span class="label-value">{{ averageGenerated }} MWh</span>
        </div>
    </div>

</div>