.card {
    width: 100%;
    height: 7.6rem;
    background: #fafafa;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    border-radius: 6px;
}

.header-resume {
    display: flex;
    justify-content: center;
    width: 3.81rem;
    height: 0.93rem;
    background: #fafafa;
    border: 1px solid #85b2f5;
    box-sizing: border-box;
    border-radius: 6px;
    justify-self: end;
}

.label-guarantee {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 23px;
    color: #616161;
}

.resume-text {
    font-size: 0.625rem;
    display: flex;
    align-self: center;
    color: #85b2f5;
}

.card-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 3px 20px 3px 10px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.36);
    // padding: 0.2rem;
}

.card-body {
    display: grid;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.body-content-guarantee {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid #e15c5c;
    width: 95%;
    margin: 0 auto;
}

.body-content-average {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid #3b9dd5;
    width: 95%;
    margin
    : 0 auto;
}
.label-value {
    justify-self: end;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: #9d9d9d;
}

.label-body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 16px;
    color: #747474;
}

@media only screen and (max-width:812px) {
    .card {
        width: 100%;
        height: 6.87rem;
        background: #fafafa;
        box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
        border-radius: 6px;
    }
}
@media only screen and (max-width:520px) {
    .card {
        width: 20.43rem;
        height: 8.87rem;
        background: #fafafa;
        box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
        border-radius: 6px;
    }
}