.main-collect {
    max-width: 100%;
    // margin-left: 5rem;
}

.header-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 56px;
    margin-left: 1rem;
    color: #2c2c2c;
}

.card {
    width: 100%;
    height: 22rem;
    background: #fafafa;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    border-radius: 5px;
}
.label-interval {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #417ed9;
}
// :host ::ng-deep .mat-radio-container{
//     height: 25rem;
//     width: 1rem;
//   }
  :host ::ng-deep .mat-radio-outer-circle{
    height: 1rem;
    width: 1rem;
  }
  :host ::ng-deep .mat-radio-inner-circle{
    height: 1rem;
    width: 1rem;
  }
  :host ::ng-deep .mat-radio-button .mat-radio-ripple{
    height: 20px; /*double of your required circle radius*/
    width: 20px;  /*double of your required circle radius*/
    left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    color: #417ED9;
  }
:host ::ng-deep .mat-radio-label-content {
    padding: 0 0.5rem 0 0.2rem;
    margin-right: 0.3rem;
}
:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #3b9dd4;
}
:host ::ng-deep .mat-radio-inner-circle {
    background-color: #3b9dd4 !important;
}
:host ::ng-deep .cdk-focused .cdk-mouse-focused {
    color: #3b9dd4 !important;
}

.form-main {
    padding: 0.625rem 0 0 0;
    width: 100%;
    margin-top: 0.8rem;
}

.label-style {
    color: #417ed9;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    // margin-top: 0.8rem;
}

.interval-display {
    display: grid;
}

.interval-span {
    justify-self: center;
    padding: 1rem 0 0 0;
}

.material-options {
    justify-self: center;
    padding: 0.8rem 0 0 0;
}

.area-cards {
    display: grid;
    grid-row-gap: 1.8em;
}

.card-resum {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}

.card-guarantee {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

@media (max-width: 980px) {
    .card-resum {
        overflow-x: scroll;
    }

    .header-text {
        font-size: 32px;
    }
}

@media only screen and (min-width: 450px) and (max-width:768px) {
    .form-main {
        padding: 0.5rem;
        margin: 0 auto;
    }
    .card{
        height: 23rem;

    }
    .label-style {
        margin: 0;
    }
}
@media only screen and (max-width: 450px) {
    .form-main {
        padding: 0.5rem;
        margin: 0 auto;
    }
    .card{
        height: 23.5rem;
        width: 17rem;
    }
    .label-style {
        margin: 0;
        // margin-top: 0.3rem;
    }
    .material-options {
        display: flex;
        justify-content: center;
        margin:0 0 4.1rem 2.1rem;

    }
}
