<div class="main-collect">
    <h1 class="header-text">Coleta de Dados</h1>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
            <emeter2-form-dates (resumOutput)="getResumData($event)" (fullDataOutput)="getFullData($event)">
            </emeter2-form-dates>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7" *ngIf="showResum">
            <div class="area-cards w-100">
                <div class="card-resum">
                    <emeter2-card-energy [objResum]="objMain.objResumOne" [objModal]="objMain.objModalOne"
                        style="margin-right: 10px;"></emeter2-card-energy>
                    <emeter2-card-energy [objResum]="objMain.objResumSecond" [objModal]="objMain.objModalSecond"
                        style="margin-right: 10px;">
                    </emeter2-card-energy>
                    <emeter2-card-energy [objResum]="objMain.objResumThird" [objModal]="objMain.objModalThird">
                    </emeter2-card-energy>
                </div>
                <div class="card-guarantee">
                    <emeter2-card-guarantee [guarantee]="objMain.guarantee"
                        [averageGenerated]="objMain.averageGenerated">
                    </emeter2-card-guarantee>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngIf="showTable" class="col-md-12">
            <hr>
            <h4>Tabela Principal</h4>
            <emeter2-table-data-collect [columnHeader]="objHeader" [tableData]="objValue"></emeter2-table-data-collect>
        </div>
    </div>
</div>