h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

li {
    font-weight: bold;
    font-size: 16px;
    color: #dadada;
    cursor: pointer;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #dadada !important;
}
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #dadada !important;
} 
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #dadada !important;;
}

ul::-webkit-scrollbar {
    width: 0.5rem;
    height: 0;
}
  
ul::-webkit-scrollbar-track {
    background: #1a1a1f;
}
  
ul::-webkit-scrollbar-thumb {
    background: #30365e;
}

li h6 {
    font-size: 13px;
    margin-bottom: 0;
}

li h6 i {
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 5px;
}

input {
    color: #cecece;
    font-size: 13px;
}

input::placeholder {
    color: #cecece;
    font-size: 13px;
}

::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cecece;
  }
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #cecece;
}

.hidden-points {
    overflow: hidden;
    width: 100%;
    transition: max-height 0.3s;
    max-height: 0;
}

.hidden-points a {
    background: #313140;
    margin: 7px;
    color: #c7c7c7;
    display: block;
    font-size: 10px;
    padding: 8px 10px;
    border-radius: 6px;
}

.hidden-points a:hover {
    background: hsl(240 14% 19% / 1);
    box-shadow: 1px 1px 5px #252525;
    transition: all 0.3s;
}

.height-dropdown {
    height: 400px !important;
    max-height: 400px !important;
}

.show-points {
    max-height: 25em;
}

.display-block {
    display: block !important;
}

.dropdown-groups-points {
    height: 0;
    max-height: 0;
    position: absolute;
    z-index: 99;
    margin-top: 2.5rem;
    background: #23232e;
    width: 300px;
    border-radius: 2px;
    box-shadow: 1px 2px 7px #0c0c0c;
    transition: all 0.3s;
}

.dropdown-groups-points ul li .group-list-a {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    padding-left: 10px;
    background-color: #313140;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 95%;
    height: 2.3rem;
    font-weight: 400;
    font-size: 12px;
    color: #cecece;
}

.a-point:hover {
    text-decoration: none;
    box-shadow: 1px 1px 5px #252525;
}

.li-active {
    background: hsl(240deg 13% 22%);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.3s
}

.form-control:focus {
    border: 0;
    box-shadow: 0 0 0 0;
    color: rgb(241, 241, 241);
}

.dropdown-groups-points ul li:first-child {
    margin-top: 1rem;
}

.list-dropdown {
    color: #9090bb;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.list-dropdown:hover {
    color: #dedede;
    background-color: hsl(240 13% 21% / 1);;
}

.list-dropdown-active {
    color: #dedede;
    background-color: hsl(240 13% 21% / 1);;
}

.header {
    background: #23232e;
    border-bottom: 2px solid #ceced8;
    width: 100%;
    // height: 5.5vh;
    height: 80px;
    color: #4d4d88;
    // border-bottom: 3px solid #cecece;
    padding-left: 5rem;
    display: flex;
    // align-items: center;
    margin-bottom: 1.3rem;
    z-index: 99;
}

.header-bar-flex {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.ul-list-header-bar {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: 40px;
    padding: 0;
}

.pd-6 {
    padding: 6px;
}

.search-div-input {
    background: #313140;
    padding: 4px;
    border-radius: 4px;
    display: none;
}

.custom-input {
    background: transparent;
    border: 0;
}

.ul-list-group-points {
    list-style: none;
    padding: 0;
    max-height: 82%;
    overflow: auto;
}

.div-logout-icon {
    align-self: center;
    margin-right: 2vw;
}

.logout-icon {
    font-size: 18px;
    color: #9090bb;
    padding-left: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .header {
        position: absolute;
        top: 0;
        padding: 0;
    }

    .dropdown-groups-points {
        width: 240px;
    }
}