<nav class="header">
    <div class="header-bar-flex">
        <div>
            <ul #insideElement id="ulHeaderMenuMain" class="ul-list-header-bar">
                <li id="dropdownMainLi" class="list-dropdown" (click)="activeDropdown()">Grupos e Pontos</li>
                <div id="dropdownGroupAndPoints" class="dropdown-groups-points">
                    <div class="pd-6">
                        <div id="inputDiv" class="search-div-input ">
                            <input class="form-control custom-input" type="search" placeholder="Pesquisar Grupo"
                                [(ngModel)]="search">
                        </div>
                    </div>
                    <ul class="ul-list-group-points" *ngIf="gruposPontos?.grupos != undefined">
                        <ng-container *ngFor="let grupo of gruposPontos.grupos | searchGruposPontos:search">
                            <li id="groupLi{{grupo.groupsite.id}}" (click)="showPoints(grupo.groupsite.id)">
                                <a id="nameGroup{{grupo.groupsite.id}}" class="group-list-a">{{ grupo.groupsite.name }}
                                    <h6><i class="fal fa-warehouse"></i>{{ grupo.sites.length }}</h6>
                                </a>
                                <div id="hiddenPoint{{grupo.groupsite.id}}" class="hidden-points">
                                    <ng-container *ngFor="let ponto of grupo.sites">
                                        <a class="a-point" (click)="hiddenDropdown()"
                                            [routerLink]="['/data/landing', ponto.id]">{{ponto.name}}</a>
                                    </ng-container>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="div-logout-icon">
            <i class="fal fa-sign-out" class="logout-icon" (click)="logout()"></i>
        </div>
    </div>
</nav>