* {
    font-size: 15px;
}

span {
    font-family: 'Open Sans', sans-serif;
}

nav::-webkit-scrollbar {
    width: 0.5rem;
    height: 0;
}
  
nav::-webkit-scrollbar-track {
    background: #1e1e24;
}
  
nav::-webkit-scrollbar-thumb {
    background: #30365e;
}

.navbar {
    box-shadow: 1px 2px 7px #1111116e;
    position: fixed;
    background-color: #23232e;
    transition: width 600ms ease;
    padding: 0 0;
    z-index: 10;
    overflow: auto;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #b6b6b6;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
    // width: 25%;
    // height: 50%;
    // border-top-right-radius: 18px;
    // border-bottom-right-radius: 18px;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #141418;
    color: #ececec;
    // width: 100%;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    // color: #0DC6E2;
    color: #2880e4;
}

.fa-primary {
    transition: 600ms;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: #ececec;
    background: #141418;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100vw;
}

.logo i {
    transform: rotate(0deg);
    transition: 600ms;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms;
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
}

.logo-emeter {
    font-family: 'Comfortaa', cursive;
    color: rgb(238, 238, 238);
    font-weight: bold;
    position: absolute;
    top: 2%;
    left: 2%;
}

.nav-item:hover .not-show {
    max-height: 25em;
}

// Small screens
@media only screen and (max-width: 600px) {
    .container {
        margin-bottom: 5rem;
        padding-bottom: 30vh;
        overflow: auto;
    }

    nav::-webkit-scrollbar {
        width: 0;
        height: 0.5rem;
    }
      
    nav::-webkit-scrollbar-track {
        background: #1e1e24;
    }
      
    nav::-webkit-scrollbar-thumb {
        background: #30365e;
    }

    .navbar {
        z-index: 20;
        margin-top: auto;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5rem;
        padding: 0;
        overflow: scroll;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

// Large screens
@media only screen and (min-width: 600px) {
    .container {
        margin-left: 5rem;
    }

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }
    
    // .navbar:hover .link-text {
    //     display: block;
    // }

    .navbar:hover .logo i {
        margin-left: 11rem;
    }

  .navbar:hover .logo-text {
        left: 0px;
   }
}