<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="#" class="nav-link">
                <span class="link-text logo-text"><img
                        style="filter:contrast(500%) brightness(3%) invert(1); height: 40px;"
                        src="../../../assets/images/emeter.png"></span>
                <i class="far fa-arrow-right fa-primary"></i>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="'/map'" class="nav-link">
                <i class="fal fa-map-marker-alt fa-primary"></i>
                <span class="link-text">Map</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link" (click)="callLogout()">
                <i class="fal fa-power-off fa-primary"></i>
                <span class="link-text">Logout</span>
            </a>
        </li>
    </ul>
</nav>