<div class="row bg-login">
    <div class="bg-img"></div>
    <img src="../../../assets/images/vetor-logo.png" alt="logotipo da vetorlog">
    <div class="login-section">
        <div class="col-md-12" style="display: grid">
            <div class="text-login">
                <h3>Olá,</h3>
                <h3>Seja bem vindo(a) ao Emeter!</h3>
            </div>
            <form class="grid-login-form" (ngSubmit)="login()" #formReport="ngForm">
                <input class="input-form" type="text" id="name" [(ngModel)]="user.name" placeholder="Usuário"
                    name="userNameInput">
                <input style="margin-top: 4rem; margin-bottom: 0.5rem;" class="input-form" type="password" id="password"
                    [(ngModel)]="user.password" placeholder="Senha" name="passwordInput">
                <h4 class="forgot-password">Esqueci a minha <a>senha</a></h4>

                <button class="btn btn-access" id="loginBtn" type="submit">Acessar</button>
            </form>
        </div>
    </div>
</div>