a {
    color: #E36414;
    font-family: Open Sans;
    font-weight: 300;
    display : inline-block;
    position: relative;
    transition: font-weight .25s ease-in-out;
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px; 
    background-color: #E36414;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear ;
}

a:hover{
    color: #E36414;
    font-weight: 600;
    cursor: pointer;
    transition: font-weight .25s ease-in-out;
}

a:hover::after {
    color: #c55b18;
    font-weight: bold;
    transform-origin: left;
    transform: scaleX(1);
}

img {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 210px;
}

h3 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #75849c;
}

input {
    transition: all .2s ease-in-out;
}

input:focus {
    outline: 0;
    border-bottom-color: #6b87bb;
    color: #425f94;
    font-weight: 500;
}

.bg-login {
    background: linear-gradient(90deg, rgba(250, 250, 250, 0.86) 0%, rgba(237, 237, 237, 0.6794) 100%);
    width: 100vw;
    height: 100vh;
}

.login-section {
    margin-left: 28vw;
    width: 100%;
    height: 100vh;
    display: grid;
}

.input-form {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #B0B1B1;
    font-family: Open Sans;
    color: #425f94;
    font-size: .9rem;
    font-weight: 300;
}

.btn-access {
    width: 150px;
    height: 40px;
    background: #073B4C;
    border-radius: 4px;
    justify-self: center;
    color: white;
}

.forgot-password {
    color: #343737;
    font-size: 15px;
    font-family: Open Sans;
    justify-self: right;
}

.bg-img {
    position: fixed;
    width: 28vw;
    height: 100vh;
    opacity: 0.9;
    background: linear-gradient(180deg, rgba(10, 40, 68, 0.7954) 0%, rgba(207, 120, 66, 0.672) 100%), url(../../../assets/images/rede-eletrica.jpg) no-repeat center;
    background-size: cover;
}

.text-login {
    justify-self: center;
    align-self: center;
}

.grid-login-form {
    display: grid;
    align-self: start;
    justify-self: center;
    width: 50%;
}

@media (max-width: 604px) {
    h3 {
        font-size: 25px;
    }

    img {
        width: 165px;
    }

    .text-login {
        padding-top: 2rem;
    }
    
    .bg-img {
        display: none;
    }

    .login-section {
      margin-left: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

    .row {
        margin: 0;
    }

    .grid-login-form {
        width: 92%;
    }
}

.active {
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: transparent !important;
    border: 4px solid #073B4C;
    border-left-color: transparent;
    box-shadow: 0 0 0 0;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}