<div class="card card-style-main">
    <div class="card-title-e2 text-center" style="margin-top: 0.5em;">
        <h4 class="card-head">{{title}}</h4>
    </div>
    <div class="display-grid-main-card">
        <div class="card-main-circle-logo text-center">
            <span class="card-main-logo-style">
                <i *ngIf="logoType == 'thermometer'" class="fal fa-tint"></i>
                <i *ngIf="logoType == 'water'" class="fal fa-thermometer-half"></i>
            </span>
        </div>
        <div class="card-main-number">
            <h1>{{numberText}}</h1>
        </div>
        <div class="card-main-subtext">
            <h6>{{subText}}</h6>
        </div>
    </div>
</div>