.card-style-main {
    width: 100%;
    border: 1px solid #00000025;
    box-shadow: 1px 4px 4px 1px #9e9e9e3f;
}

.display-grid-main-card {
    display: grid;
    grid-template-columns: 20% 22% 1fr;
    padding: 20px;
}

.card-main-circle-logo {
    width: 60px;
    height: 60px;
    background-color: #0dc6e2;
    border-radius: 50%;
    justify-self: end;
    align-self: center;
}

.card-main-logo-style {
    position: relative;
    top: 6px;
    font-size: 2.2em;
    color: white;
}

.card-main-number {
    justify-self: end;
    align-self: center;
}

.card-main-number > h1 {
    font-size: 3rem;
    color: #282e52;
}

.card-main-subtext {
    justify-self: center;
    align-self: center;
    border-bottom: 1px solid #a4a4ac6e;
}

.card-main-subtext > h6 {
    color: #a4a4ac;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .card-style-main{
        min-height: 213px
    }
    .display-grid-main-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
    .card-main-circle-logo{
        justify-self: end;
        margin: 5px;
    }
    .card-main-number{
        justify-self: start;
        margin: 5px;
    }
    .card-main-subtext{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top:5px;
        text-align: center;
    }

}
.card-head {
    color: #282E52;
}

.card-title-e2{
    margin-top: 0.5em;
}
@media only screen and (max-width: 450px) {
    .card-style-main{
        width: 400px;
    }
    .display-grid-main-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
    .card-main-circle-logo{
        justify-self: end;
        margin: 5px;
    }
    .card-main-number{
        justify-self: start;
        margin: 5px;
    }
    .card-main-subtext{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top:5px;
    }

}
@media only screen and (max-width: 210px) {
    
    .display-grid-main-card {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .card-main-circle-logo{
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: center;
        align-self: center;
    }
    .card-main-number{
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: center;
        align-self: center;
    }
    .card-main-subtext{
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: center;
        align-self: center;
        margin-top: 10px;
        text-align: center;
    }
}
