<mat-paginator [pageSizeOptions]="[10, 15, 20, 30]" showFirstLastButtons style="border-bottom: 1px solid #e0e0e0;">
</mat-paginator>
<div style="max-width: 100%; margin-bottom: 2rem; max-height: 50vh; overflow: auto;">
    
    <table mat-table [dataSource]="tableDataSource" >
        <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
            <th mat-header-cell *matHeaderCellDef class="text-center f-700">{{columnHeader[tableData]}}</th>
            <td mat-cell *matCellDef="let element" class="text-center">{{element[tableData]}}
                <i matTooltip="{{element['timeDemandInValue']}}" class="fas fa-info-circle" *ngIf="tableData == 'demandInValue'"></i>
                <i matTooltip="{{element['timeDemandOutValue']}}" class="fas fa-info-circle" *ngIf="tableData == 'demandOutValue'"></i>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
        <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
    </table>
</div>