table {
    width: 100%;
}

th {
    color: #747474;
}

th.mat-header-cell:first-of-type {
    padding-left: 0;
}

th.mat-header-cell:last-of-type {
    padding-right: 0;
}

td {
    color: #949494;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.mat-cell {
    padding: 10px 25px 10px 25px;
}

.f-700 {
    font-weight: 700;
}