/* You can add global styles to this file, and also import other style files */

button {
    margin: 15px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.btn-e2-primary {
    color: #fff;
    font-weight: 400;
    background-color: #0dc6e2;
    border: 1px solid #4cb1c0a6;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.2s ease-in;
}

.btn-e2-primary:hover {
    color: #fff;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.2s ease-in;
    // box-shadow: 0px 0px 5px 1px #c1c3c494;
    background-color: rgb(14, 208, 238);
}

.btn-e2-error {
    color: #fff;
    font-weight: 400;
    background-color: #e73d3d;
    border: 1px solid #e73d3da6;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.2s ease-in;
}

.btn-e2-error:hover {
    color: #fff;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.2s ease-in;
    // box-shadow: 0px 0px 5px 1px #c1c3c494;
    background-color: #fc3d3d;
}

.btn-e2-inactive {
    color: #fff;
    font-weight: 400;
    background-color: rgb(57, 131, 143);
    border: 1px solid rgb(54, 115, 124);
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.2s ease-in;
}

.btn-e2-inactive:hover {
    color: #fff;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.2s ease-in;
    // box-shadow: 0px 0px 5px 1px #c1c3c494;
    // background-color: rgb(57, 131, 143);
}

* {
    // font-family: 'Montserrat', sans-serif;
    font-family: "Nunito", sans-serif;
    // font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #e9e9e9;
    max-width: 100vw;
}

:root {
    font-size: 16px;
    font-family: "Nunito";
    --text-primary: #b6b6b6;
    --text-secondary: #f7f8fa;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-sidebar: #111c54;
    --bg-sidebar-hover-link: #232d6a;
    --text-hover-link-sidebar: #f7f8fa;
}

// Small screens
@media only screen and (max-width: 600px) {
    .container {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }

    .container-fluid {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
}

// Large screens
@media only screen and (min-width: 600px) {
    .container {
        padding-left: 5rem;
    }

    .container-fluid {
        padding-left: 5rem;
        padding-right: 0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {
    outline: none;
}

//color of progress loading
.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #ffffff;
}

.padding-cards-global {
    padding: 0 0.4rem 0 0.4rem;
}

// ######################################################################################
// ######################## INÍCIO CARDS LANDING PAGE - GRUPO A #########################
// ######################################################################################

//====================== Card - classes em comum ======================
.card-grupo-a {
    width: 100%;
    height: 16em;
    background-color: #ffffff;
    box-shadow: 2px 6px 10px rgba(23, 23, 23, 0.25);
    border-radius: 5px;
}

.card-header-grupo-a {
    width: 100%;
    height: 4.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.resum-header h5 {
    font-weight: normal;
    font-size: 1.125em;
    line-height: 25px;
    color: #5e5e5e;
    padding: 11px 0px 0px 15px;
    margin: 0;
}

.resum-header p {
    font-weight: 300;
    font-size: 0.75em;
    line-height: 13px;
    color: #5f5f5f;
    padding: 0px 0px 0px 15px;
    margin: 0;
}

.card-body-grupo-a {
    width: 100%;
    height: 11.5em;
    background: #f5f5f5;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

//====================== Card: Fatura ======================
.interval-dates-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.date {
    width: 117px;
    height: 24px;
    color: white;
    background: #66789d;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.date label {
    margin-top: 3px;
}

.d-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.legend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 1.5rem;
}

.legend-infos {
    display: grid;
    justify-items: center;
    text-align: center;
}

.legend-infos label {
    font-weight: normal;
    font-size: 1.125em;
    line-height: 27px;
    color: #5e5e5e;
}

.legend-infos label:after {
    content: " ";
    display: block;
    width: 113px;
    height: 1px;
    background-color: #c0c0c0;
}

.legend-infos p {
    font-weight: bold;
    font-size: 0.9375em;
    line-height: 25px;
    color: #5e5e5e;
}

//====================== Card: Leitura Acumulada ======================
.body-content {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.body-content div h6 {
    font-size: 0.75em;
    line-height: 18px;
    color: #5e5e5e;
}

.content-column {
    padding: 10px;
    height: 90%;
    display: grid;
    margin-top: 10px;
}

.slice:after {
    content: "";
    justify-self: center;
    position: absolute;
    height: 50%;
    left: 50%;
    border-right: 1px solid #ccc;
}

//====================== Card: Leitura Acumulada - Gráfico ======================
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #66789d;
}

.nav-items {
    display: grid;
    align-content: end;
}

.nav-pills .nav-link {
    color: #66789d;
}

.nav-fill .nav-item {
    border-radius: 5px;
    border: 1px solid #66789d;
}

// ######################################################################################
// ########################### FIM CARDS LANDING PAGE GRUPO A ###########################
// ######################################################################################

.title-card-management {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 1.6rem;
    color: hsl(218 14% 28% / 1);
}