<div class="row" style="margin-top: 50px;">
    <div class="col-md-4" style="margin-bottom: 25px;">
        <emeter2-card-resume-info title="Medidores" numberText="2" subText="100% dos medidores são ELO"
            logoType="water"></emeter2-card-resume-info>
    </div>
    <div class="col-md-4" style="margin-bottom: 25px;">
        <emeter2-card-resume-info title="Medidores" numberText="48" subText="15% dos medidores são OUTROS"
            logoType="water"></emeter2-card-resume-info>
    </div>
    <div class="col-md-4" style="margin-bottom: 25px;">
        <emeter2-card-resume-info title="Medidores" numberText="24" subText="80% dos medidores são ELO"
            logoType="water"></emeter2-card-resume-info>
    </div>
    <div class="col-md-6" style="margin-bottom: 25px;">
        <emeter2-card-details titleMain="Hidrômetros" titleSecondary="Santo Antonio"
            typeInfo="Pequena Central Hidreletrica" segmentInfo="Segmento de Geração" city="Cidade de Santa Rosa - RS"
            typeIcon="hydro"></emeter2-card-details>
    </div>
</div>