div::-webkit-scrollbar {
    height: 0.7rem;
    border-radius: 3px;
    padding: 10px;
}
  
div::-webkit-scrollbar-track {
    background: rgb(201, 201, 204);
    border-radius: 3px;
}
  
div::-webkit-scrollbar-thumb {
    background: #9aaeb1;
    border-radius: 3px;
}

.title-form-card {
    font-weight: lighter;
    font-size: 22px;
    margin-left: 6.2rem;
}

.card-list-favorites {
    min-width: 270px;
    min-height: 180px;
    width: 270px;
    height: 180px;
    border-radius: 6px;
    border: 1px solid #16161648;
    background-color: white;
    box-shadow: 2px 3px 8px -4px #0000008c;
    align-items: center;
}

.logo-style {
    font-size: 22px;
    position: relative;
}

.title-card {
    text-align: center;
    padding-top: 8px;
    margin-bottom: -1rem;
    border-bottom: 1px solid #C8C8C8;
    height: 45px;
    margin-bottom: 10px;
    display: flex;
}

.style-logo-card {
    float: left;
    color: #37C3D8;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.title-card h4 {
    font-weight: normal;
    font-size: 19px;
    color: rgba(4, 12, 49, 0.856);
}

.name-point {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #37C3D8;
}

.last-access-text {
    padding-top: 1rem;
    font-size: 14px;
    font-weight: lighter;
    color: rgba(4, 12, 49, 0.856);
    text-align: center;
    margin-bottom: 0;
}

.btn-card {
    background-color: #33B8CC;
    border-radius: 5px;
    color: white;
}

.btn-card:hover {
    background-color:#268A99;
    color: white;
}