<div class="row">
    <div class="col-md-12">
        <div class="padding-cards-global">
            <div class="d-flex-text-main-lp">
                <h1 class="main-text-lp">Landing Page</h1>
                <h4 class="access-data-collect-text" (click)="navigateCollect()">Coleta de Dados <i
                        class="fal fa-arrow-alt-to-right"></i></h4>
            </div>

            <section id="generation" *ngIf="showComponent">
                <emeter2-generation-management [params]="objParams"></emeter2-generation-management>
            </section>
            <section id="hydro" *ngIf="hydroInfo.length > 0">
                <emeter2-hydro-management [paramsGetIdStation]="hydroInfo"></emeter2-hydro-management>
            </section>
            <section id="econometer">
                <emeter2-econometer-management></emeter2-econometer-management>
            </section>
        </div>
    </div>
</div>