#hydro {
    margin-top: 4vh;
}

.d-flex-text-main-lp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text-lp {
    font-weight: 400;
    color: #4a5363;
}

.access-data-collect-text {
    font-size: 1rem;
    color: hsl(218 14% 45% / 1);
    font-weight: 500;
    cursor: pointer;
    transition: all .25s ease;
}

.access-data-collect-text:hover {
    color: hsl(218 30% 55% / 1);
}